%h2 Lista transakcji
%table.table
  %tr
    %th Data
    %th Kwota
    %th Opis
  - @transactions.each do |transaction|
    %tr
      %td= I18n.l transaction.created_at
      %td= money(transaction.amount)
      %td= transaction.descr

%p= paginate @transactions

%p= link_to 'Nowa transakcja', new_account_transaction_path(@account), class: 'btn'
